<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">id</span>
    <input type="text" ng-model="producto['id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">fields</span>
    <input type="text" ng-model="producto['fields']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdTime</span>
    <input type="text" ng-model="producto['createdTime']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
