<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Cerveza Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="cervezas.length == 0">

      <super-navigate location="cerveza#show" data-params-id="{{ cerveza.id }}" ng-repeat="cerveza in cervezas">
        <li class="item item-icon-right">
          <span ng-bind="cerveza.fields['Estilo']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="cervezas.length == 0" class="assertive padding">
      No cervezas found. Create one?
		</h4>
	

-------------		
     <div ng-repeat="beer in beers2">
       <li class="item item-icon-right">
         <span ng-bind="beer.fields['Estilo']"></span>
         <i class="icon super-ios-arrow-right"></i>
       </li>
     </div>
		 
		 <h1>{{test}}</h1>
		
</div>
