<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="cerveza['id']"></h2>
      
      
      
       <p>fields: <span ng-bind="cerveza['fields']"></span></p> 
      
       <p>createdTime: <span ng-bind="cerveza['createdTime']"></span></p> 
      


      <super-modal-show location="cerveza#edit?id={{ cerveza.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(cerveza.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
